.mp4
.csv
.json
recordings
video_center
video_ok
video_ng
recordings/Train1.mp4
recordings/video_20260731_094708.mp4
file_work/ProjectDetection/recordings/VideoTrain_20260731_135528.mp4
file_work/ProjectDetection/recordings/video_VideoTrain_20260731_135356.mp4
*.csv
setting/inspection_stats.db
setting/inspection_stats.db
setting/inspection_stats.db
*.pyc
*.pyo
*.pyd
/main/__pycache__
*.pyc
*db_config.json
*.pyc
